services:
  infs1: &infini-server
    environment:
      USER: "admin"
      PASS: "changeme"
      DATACENTER: "dc1"
      HOSTNAME: "infs1"
      CLUSTER: "oneweb"
    hostname: infs1
    image: infinispan/server:15.0.21.Final
    command:
      # - --cluster-name=infinispan-cluster
      # - --node-name=${HOSTNAME}
      - --server-config=/opt/infinispan/server/conf/infinispan.yaml
      - --bind-address=0.0.0.0
    volumes:
      - ./config.d/infinispan/infinispan.yml:/opt/infinispan/server/conf/infinispan.yaml
      # - ./config.d/infinispan/cluster-dc1.p12:/opt/infinispan/server/cluster-dc1.p12
    ports:
      - 7800:7800
      - 11222:11222
      - 11223:11223
    networks:
      dc1_network:
        ipv4_address: 172.20.0.11


  infs2:
    <<: *infini-server
    environment:
      DATACENTER: "dc1"
      HOSTNAME: "infs2"
      CLUSTER: "oneweb"
    hostname: infs2
    volumes:
      - ./config.d/infinispan/infinispan.yml:/opt/infinispan/server/conf/infinispan.yaml
      # - ./config.d/infinispan/cluster-dc1.p12:/opt/infinispan/server/cluster-dc1.p12
    ports:
      - 7801:7800
      - 11232:11222
      - 11233:11223
    networks:
      dc1_network:
        ipv4_address: 172.20.0.12

  infs3:
    <<: *infini-server
    environment:
      USER: "admin"
      PASS: "changeme"
      DATACENTER: "dc2"
      HOSTNAME: "infs3"
      CLUSTER: "openapi"
    hostname: infs3
    volumes:
      - ./config.d/infinispan/infinispan-failure.yml:/opt/infinispan/server/conf/infinispan.yaml
      # - ./config.d/infinispan/cluster-dc2.p12:/opt/infinispan/server/cluster-dc2.p12
    ports:
      - 7802:7800
      - 11242:11222
      - 11243:11223
    networks:
      dc2_network:
        ipv4_address: 172.30.0.21

  infs4:
    <<: *infini-server
    environment:
      USER: "admin"
      PASS: "changeme"
      DATACENTER: "dc2"
      HOSTNAME: "infs4"
      CLUSTER: "openapi"
    hostname: infs4
    volumes:
      - ./config.d/infinispan/infinispan-failure.yml:/opt/infinispan/server/conf/infinispan.yaml
      # - ./config.d/infinispan/cluster-dc2.p12:/opt/infinispan/server/cluster-dc2.p12
    ports:
      - 7803:7800
      - 11252:11222
      - 11253:11223
    networks:
      dc2_network:
        ipv4_address: 172.30.0.22

networks:
  dc1_network:
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
  dc2_network:
    ipam:
      driver: default
      config:
        - subnet: 172.30.0.0/24
  
